<div class="row">
        <div class="col-xs-9" >
            <div class="show_details_of_image">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="photo_wrapper">
                            <div class="photo_wrapper_image" style="height:95%; width: 100%;">
                               <%= attachment_image_tag @photo,:image,fallback: "noimages.jpg", style: 'width: 100%;height: 100%;' %>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="photo_title_caption">
                            <h4>「<%= @photo.title %>」</h4>
                            <p><%= @photo.caption %></p>
                            <h5>A4size ¥<%= @photo.price %>(税込)</h5>
                        </div>
                        <div class="photo_price">
                            <%= link_to "Edit",edit_admins_photo_path,class:"btn btn-primary"%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <div class="col-xs-3">
        <div class="photo_profile">
            <%= link_to public_photos_path(user_id: @user.id) do %>
                <center>
                <%= attachment_image_tag @user,:profile_image,fallback: "noimages.jpg", style: 'border-radius: 50%; width: 100px;height: 100px;object-fit: cover;' %>
                    <p><%= @user.nickname %></p>
                    <p><%= @user.introduce %></p>
                <% end %>
                </center>
        </div>
</div>
