<div class="row">
    <div class="col-xs-4 col-xs-offset-1">
        <div class="photo_wrapper">
            <div class="photo_wrapper_image" style="height:95%; width: 100%;">
                <%= attachment_image_tag @photo,:image,fallback: "noimage.jpg", style: 'width: 100%;height: 100%;' %>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-xs-offset-1">
        <div class="photo_wrapper">
            <div class="photo_title_caption">
                <div id="follow_form">
                    <h4><%= @photo.title %></h4>
                    <p><%= @photo.caption %></p>
                    <%= (@photo.hashbody) %>
                    <h5>¥<%= @photo.price %>(税込み)</h5>
                    <div class="photo_price">
                        <%= link_to "Edit",edit_admins_photo_path,class:"btn btn-primary"%>
                    </div>
                 
                </div>
             
            </div>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="photo_profile">
            <%= link_to admins_photos_path(user_id: @user) do %>
                <%# <%= hidden_field_tag :user_id, @user.id %>
                <%= attachment_image_tag @user,:profile_image,fallback: "noimage.jpg", style: 'border-radius: 50%; width: 100%;height: 100%;object-fit: cover;' %>
                    <center>
                    <p><%= @user.nickname %></p>
                    <p><%= @user.introduce %></p>
                    </center>
            <% end %>
        </div>
    </div>
</div>