    <%= form_for(resource, as: resource_name, url: user_session_path) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
        <div class="row">
          <div class="col-xs-3">
            <h3>Sign In</h3>
          </div>
            <div class="col-xs-9">
              <div class="row">
                <div class="field">
                  <div class=" col-xs-4">
                    <%= f.label :"メールアドレス" %>
                    </div>
                    <div class="col-xs-8">
                        <%= f.email_field :email, autofocus: true, autocomplete: "email",style:"margin-left:30px;" %>
                  </div>
                </div>
              </div>
              
              <div class="row"> 
                <div class="field">
                  <div class=" col-xs-4">
                    <%= f.label :"パスワード" %>
                    <% if @minimum_password_length %>
                      <em>（<%= @minimum_password_length %>文字以上）</em>
                    <% end %><br />
                  </div>
                  <div class="col-xs-8">
                    <%= f.password_field :password, autocomplete: "new-password",style:"margin-left:30px;" %>
                  </div>
                </div>
              </div>
              <div class="row">
              <div class="field">
                <div class=" col-xs-4">
                  <%= f.label :"パスワード（確認用）" %>
                </div>
                <div class="col-xs-8">
                  <%= f.password_field :password_confirmation, autocomplete: "new-password" ,style:"margin-left:30px;"%>
                </div>
              </div>
            </div>
            </div>
        </div>
          <br>
        <center>
          <div class="actions">
            <%= f.submit "Sign In",class:"btn  btn-success",style:"width:200px;" ,style:"margin:30px;"%>
          </div>
        </center>
    <% end %>