<div class="row">
    <div class="col-xs-4 col-xs-offset-1">
        <div class="photo_wrapper">
            <div class="photo_wrapper_image" style="height:95%; width: 100%;">
                <%= attachment_image_tag @photo,:image,fallback: "noimage.jpg", style: 'width: 100%;height: 100%;' %>
            </div>
        </div>
    </div>
        <div class="col-xs-4 col-xs-offset-1">
            <div class="photo_title_caption">
                <i><%= @photo.likes.count %></i>
                    <% if current_user.already_liked?(@photo) %>
                        <%= link_to public_photo_like_path(@photo),method: :delete do %>
                            <i class="fas fa-heart unlike-btn"></i>
                        <% end %>
                    <% else %>
                        <%= button_to public_photo_likes_path(@photo) do %>
                            <i class="far fa-heart like-btn" ></i>
                        <% end %>
                    <% end %>
            </div>
            <div class="photo_price">
                <%= form_for(@photo,url:public_photo_path,local: true,method: :patch) do |f| %>
                    <h4><%= f.text_field :title %></h4>
                    <h4><%= f.text_area :caption %></h4>
                    <h5>¥<%= f.text_field :price%>(税抜)</h5>
                    <%= f.hidden_field :photo_id, :value => @photo.id %>
                    <%= f.hidden_field :user_id, :value => @photo.user_id %>
                    <%= f.submit "Save",class:"btn btn-primary btn-sm"%>
                     <%= button_to 'Delete',public_photo_path, method: :delete, data: {confirm: 'カートを空にして本当によろしいですか？'}, class: 'btn btn-danger' %>
                <% end %>
            </div>
        </div>
    <div class="col-xs-2">
        <div class="photo_profile">
           <%= attachment_image_tag @user,:profile_image,fallback: "noimage.jpg", style: 'border-radius: 50%; width: 100px;height: 100px;object-fit: cover;' %>
            <p><%= @user.first_name %></p>
            <p><%= @user.introduce %></p> 
        </div>
    </div>

</div>
