<div class="row">

    <div class="col-xs-4 col-xs-offset-1">
        <div class="photo_wrapper">
            <div class="photo_wrapper_image" style="height:95%; width: 100%;">
                <%= attachment_image_tag @photo,:image,fallback: "noimage.jpg", style: 'width: 100%;height: 100%;' %>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-xs-offset-1">
        <div class="photo_profile">
            proflile
        </div>
        <div class="photo_title_caption">
            <h4><%= @photo.title %></h4>
            <p><%= @photo.caption %></p>
            <h5>¥<%= @photo.price %>(税込み)</h5>
        </div>
        <div class="photo_price">
            <%= form_for(@cart_item,url:public_cart_items_path,local: true,method: :post) do |f| %>
                <%= f.select :amount, [*1..100], include_blank: "個数選択" %>
                <%= f.hidden_field :photo_id, :value => @photo.id %>
                <%= f.hidden_field :user_id, value: @photo.user_id %>
                <%= f.submit "カートにいれる",class:"btn btn-primary btn-sm"%>
            <% end %>
        </div>
    </div>

</div>
