<h3><%= @user.nickname %>のページ</h3>
    <div class="row">
        <div class="col-xs-2"></div>
            <div class="col-xs-8" style="padding:0px;">
                <div class="about">
                    <h5>About <%= (@user.first_name )+ ( @user.last_name) %></h5>
                </div>
                <%= form_with(model: @user, url:public_user_path(@user),method: :patch ,local: true ) do |f|%>
                    <div class="row">
                        <div class="profile_box">
                            <div class="col-xs-5">
                                <div class="profile">
                                      <div class="photo_profile">
                                        <%= link_to admins_photos_path(user_id: @user) do %>
                                            <%= attachment_image_tag @user,:profile_image,fallback: "noimage.jpg", style: 'border-radius: 50%; width: 100%;height: 100%;object-fit: cover;' %>
                                                <center>
                                                    <p><%= @user.nickname %></p>
                                                    <p><%= @user.introduce %></p>
                                                </center>
                                                  <p><%= f.submit"Update",class:"btn btn-primary" %></p>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="profile_detail">
                                    <table border="1 #2F3751" style="color:border: #2F3751">
                                        <tr>
                                            <td>
                                            <i class="fas fa-user"></i>
                                            <%= f.text_field :nickname %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fas fa-phone"></i>
                                                <%= f.text_field :telephone_number  %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                            <i class="fas fa-envelope"></i>
                                            <%= f.text_field :email  %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                            <i class="fas fa-home"></i>
                                               <%= f.text_area :address  %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                            <i class="fas fa-map-marker-alt"></i>
                                                <%= f.text_field :postal_code  %>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="col-xs-1"></div>
</div>