<h3 >販売履歴一覧</h3>
<table class="table table-hover table-inverse">
    <tr style="background-color:lightgray">
      <th>販売日時</th><th>購入者</th><th>販売個数</th>
    </tr>
    <tbody>
    <%#= @seller %>
    <%#= @order.address %>
        <% @orders.each do |order|%>
            <%# <tr onclick='window.location="<%= '/public/order_details/' + order_detail.id.to_s + '/solddetail'%>
           
                <% amount_sum = 0%>
                <td>
                <%= link_to sold_detail_public_order_path(order) do  %>
                    <%= order.created_at.strftime("%Y/%m/%d %H:%M:%S")%>
                    <% end %>
                </td>
                <td>
                    <%= order.name%>
                </td>
                <td>
                    <%= order.status %>
                </td>
                 <td>
                    <%= order.id %>
                </td>
              
              
            </tr>
        <% end %>
    </tbody>
</table>