
<% breadcrumb :edit %>
<%= breadcrumbs separator: " &rsaquo; " %>
<div class="yourname">
    <h3>
    About <%= @user.first_name + @user.last_name %>
    </h4>
</div>
<div class="mypage">
    <div class="row">
        <div class="col-xs-5">
            <div class="mypage_profile">
            <%= form_with(model: @user, url:public_user_path(@user),method: :patch ,local: true ) do |f|%>
            <center>
                <p><%= f.attachment_field :profile_image,style:"margin-top:10px;" %></p>
                <h6>200文字まで入力可能です
                <%= f.text_area :introduce ,style:"width:100%;height:25vh"%></h6>
            <p><%= f.submit"Update",class:"btn btn-primary" %></p>
            </center>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="mypage_profile_detail">
                <table border="1 #2F3751" style="color:border: #2F3751">
                    <tr>
                        <td>
                        <i class="fas fa-user"></i>
                           <%= f.text_field :nickname %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-phone"></i>
                            <%= f.text_field :telephone_number  %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <i class="fas fa-envelope"></i>
                             <%= f.text_field :email  %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <i class="fas fa-home"></i>
                           <%= f.text_area :address  %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <i class="fas fa-map-marker-alt"></i>
                            <%= f.text_field :postal_code  %>
                        </td>
                    </tr>
                </table>
                <% end %>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="mypage_detail">
                <div class="mypage_detail_box">
                    Your Purchase Histories
                </div>
                <div class="mypage_detail_box">
                    Your Favorite Photos
                </div>
                <div class="mypage_detail_box">
                    <div class="mypage_detail__orders_button">
                        Your Orders
                    </div>
                    <div class="mypage_detail__orders_info">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
