<% breadcrumb :mypage %>
<%= breadcrumbs separator: " &rsaquo; " %>
        <div class="yourname">
            <h3>
            About <%= @user.first_name + @user.last_name %>
            <%= link_to edit_public_user_path(@user) do%>
                <i class="fas fa-user-edit"></i>
            <% end %>
            </h4>
        </div>
<div class="mypage">
    <div class="row">
        <div class="col-xs-5">
            <div class="mypage_profile">
            <center>
                <p><%= attachment_image_tag @user,:profile_image,fallback: "noimages.jpg", style: 'border-radius: 50%; width: 100px;height: 100px;object-fit: cover;margin-top:10px;' %></p>
                <p><%= render 'follow_form' %></p>
                <p><%= render 'stats' %></p>
                <p>★★★★☆</p>
            </center> 
                <h6 style="white-space: wrap;overflow: hidden;text-overflow: ellipsis;"><%= @user.introduce %></h6> 
            </div>
        </div>
        <div class="col-xs-3">
            <div class="mypage_profile_detail">
                <table border="1 #2F3751" style="color:border: #2F3751">
                    <tr>
                        <td>
                        <i class="fas fa-user"></i>
                            <%= @user.nickname%>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-phone"></i>
                            <%= @user.telephone_number %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <i class="fas fa-envelope"></i>
                            <%= @user.email %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <i class="fas fa-home"></i>
                            <%= @user.address %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <i class="fas fa-map-marker-alt"></i>
                            <%= @user.postal_code %>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="mypage_detail">
                <div class="mypage_detail_box">
                    <%= link_to"Your Purchase Histories",public_orders_path %>
                </div>
                <div class="mypage_detail_box">
                    <%= link_to"Your Favorite Photos",public_photo_likes_path(@user) %>
                </div>
                <div class="mypage_detail_box">
                    <div class="mypage_detail__orders_button">
                        <%= link_to"Your Orders",sold_public_order_path(@user)  %>
                    </div>
                    <div class="mypage_detail__orders_info">
                        <% if @order_detail.empty? %>
                        販売履歴はありません。
                        <% else %>
                            <h5>
                            販売商品件数
                            <%= @order_detail.count %>
                            </h5>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>