<% if user_signed_in? %>
    <div class="recommend_photographer">
        <div class="recommend_item_each">
            <% @photos.each do |photo|%>
                <%= link_to public_photo_path(photo) do  %>
                    <%= attachment_image_tag photo,:image,fallback: "noimage.jpg", style:'width: 30%;height:33%;padding:3%;' %>
                <% end %>
            <% end%>
        </div>
    </div>
<% else %>
    <center>
        <%= link_to"let's explore photos",  new_user_registration_path ,class:"btn btn-primary",style:"margin-top:10px;"%>
    </center>
    <div class="recommend_item_each"> 
        <%4.times do |i|%>
            <%= link_to public_photo_path(@photos[i].id) do %>
                <%= attachment_image_tag @photos[i],:image, fallback: "noimage.png", style:'width: 30%;height:33%;padding:3%;'%>
            <% end %>
        <%end %>
    </div> 
<% end %>
